body{
  font-family:'Roboto','sans-serif'
}
.navbar{
  border-radius:10px;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  width:640px;
  height:100px;
  background-color:rgb(184, 54, 54);
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;

}
.image1{
  width:30px;
  height:30px;
  background-color:transparent;
  mix-blend-mode:multiply;
  margin-right:8px;
}

.title:hover{
  cursor:pointer;
  text-decoration:underline;
}
.parent{

  width:600px;
  height:300px;
  display:flex;
  border-radius:10px;
  border-bottom-style:solid;
  border-bottom-color:rgb(185, 184, 184);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom:20px;
  border-bottom-width: 1px;
  
}
.child1{
  padding:15px;
  padding-bottom:35px;
}
.child2{
  width:100%;
  border-radius:10px;
}
.child3{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.image{
  width:220px;
  height:105%;
  border-radius:15px;
  
}
.country-name{
  margin-bottom:12px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:15px;
  margin-top:15px;
  text-transform:uppercase;
  letter-spacing:2px;
  padding-top:10px;
}
.google-maps-link{
  padding-top:10px;
  font-size:13px;
  color:gray;
  text-decoration:underline;
  padding-right:80px;

}
.title1{
  margin-top:0;
  font-size:30px;
  font-weight:700;
  margin-left:5px;
  margin-bottom:0;
}
.date{
  margin-top:30px;
  font-size:15px;
  font-weight:600;
  margin-left:5px;
}
.text{
  overflow-wrap: break-word;
  white-space: normal;
  padding:10px;

}
.dataItems{
  height:auto;
  width:600px;
  background-color:rgb(246, 246, 246);
  padding-left:20px;
  padding-right:20px;
  padding-top:40px;
  border-radius:10px;

}
